.btn{
    background-color: rgba(204, 99, 40, 1) !important;
    color: white !important;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.25px;
    width: 140px;
    border-radius: 5px;
}
a.nav-link.dropdown-toggle {
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1.25px;
    color: #1A110C;
}
img.logo-img{
    width: 231.52px;
    height: 75.25px;
}
a.nav-2 {
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1.25px;
    color: #1A110C;
}
img.addcart {
    width: 56px;
    height: 50.62px;
}
.sec-para{
    margin-top: 100px;
}
.images{
    height: 200px !important;
}
#banner-1 {
    background-image: url('../images/Homepage\ Hero.png');
    height: 94.9%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #container-1{
    color: white;
    text-align: center;
    padding: 0 48px;
    position: relative;
  }
  #container-1 h1{
    font-size: 45px;
    padding-top: 20px;
    
  }
  #container-1 p {
        font-size: 21px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #card-bg-image-1{
        background-image: url(../images/routine.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30%;
        height: 596px;
    }
#card-bg-image-2{
    background-image: url('../images/get-start.png');
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30%;
    height: 596px;
}
#banner-2{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card-front {
    display: flex;
    justify-content: center;
    padding-top: 155px;
}
h6.card-hadding {
    color: brown;
    font-size: 12px;
    padding-top: 10px;
}
h5.card-title {
    font-family: inherit;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 5px;
}
p.card-text {
    padding-top: 12px;
    font-size: 13px;
    font-weight: 500;
    font-family: unset;
}
#routin-btn {
    background-color: rgba(204, 99, 40, 1) !important;
    color: white !important;
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    text-align: center;
    letter-spacing: 0.25px;
    border: 1px rgba(204, 99, 40, 1);
    border-radius: 2px;
    padding: 5px 25px 5px 25px;
    font-family: unset;
    letter-spacing: 1px;
}

/*---card section----*/
.cd-flex {
    display: flex;
    justify-content: center;
    gap: 75px;
    background-color: #FAF6F1;
    padding-top: 4%;
    padding-bottom: 6%;
}
h5.cd-hadding {
    font-weight: 900;
    font-size: 16px;
    align-items: center;
    padding-top: 15px;
}
p.cd-para {
    font-size: 12px;
    font-weight: 400;
    align-items: center;
}
/*third part*/
.third-part {
    text-align: center;
    padding-top: 80px;
}
h3.third-head {
    font-weight: 900;
    font-family: system-ui;
    letter-spacing: 3px;
    font-size: 33px;
}
p.third-para {
    font-size: 15px;
    font-weight: 500;
    word-spacing: 3px;
    font-family: revert;
}
/*forth part*/
  
  h5.card-title-forth {
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 15px 0px 0px 15px;
}
p.card-text-forth {
    font-size: 11px;
    padding: 0px 0px 0px 15px;
    color: brown;
    font-family: sans-serif;
}
.card-text-forth2{
    font-size: 11px;
    padding: 0px 0px 0px 15px;
    color: brown;
    font-family: sans-serif;
}
.card-button{
    background-color: rgba(204, 99, 40, 1) !important;
    color: white !important;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    text-align: center;
    border: 1px rgba(204, 99, 40, 1);
    border-radius: 2px;
    padding: 10px 25px 10px 25px;
    font-family: unset;
    letter-spacing: 1px;
    width: 92%;
    margin: 0px 4px 10px 10px;
}
.forth-sec {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
}
.card1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*fifth section*/
.head-accor {
    font-size: 60px;
  }
  
  .btn4 {
    background-color: white !important;
    color: #CC6328;
    font-family: Adrianna;
    text-decoration: none;
  }
  
  .btn4:hover {
    background-color: white !important;
    color: #CC6328;
    font-family: Adrianna;
    text-decoration: none;
  }
  
  .accor-body {
    color: #5A3714;
    background-color: #FAF6F1;
  }
  
  .mycard-accor {
    margin: 2%;
  }

  /* footer */
  .form-section {
    display: flex;
    justify-content: center;
    gap: 13%;
    margin-top: 7%;
    background-image: url('../images/form-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 10px;
}
.form-1 {
    font-size: 15px;
    font-weight: 900;
    padding-top: 5px;
}
input#email-id {
    padding: 5px 100px 5px 10px;
    border: 2px white;
    border-radius: 5px;
    color: black;
}
#form-bttn{
    padding: 5px 5px 5px 10px;
    border: 2px white;
    border-radius: 5px;
    color: black;
}
#form-bttn {
    padding: 5px 35px 5px 35px;
    border: 2px  rgba(204, 99, 40, 1);
    border-radius: 5px;
    color: white;
    background-color: rgba(204, 99, 40, 1);
    margin-left: 5px;
}