

.btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background: deeppink;
    color: white;
    font-size: 35px;
    font-weight: 900;
    line-height: 1;
    margin-top: 24%;
    transition: transform 250ms;
    margin-left: 45%;
}

  .btn:hover {
    transform: translateY(-10px);  
    background-color:slateblue ;
  }


  