.coloum1{
    background-color: aqua;
}
.coloum2{
    background-color: brown;
}
.coloum3{
    background-color: aqua;
}
.coloum4{
    background-color: gold;
}
.coloum5{
    background-color: pink;
}
.coloum6{
    background-color: lightgray;
}
.coloum7{
    background-color: lightsalmon;
}
.coloum8{
    background-color: rosybrown;
}
.coloum9{
    background-color: violet;
}
.coloum10{
    background-color: mediumvioletred;
}
.coloum11{
    background-color: lightblue;
}
.coloum12{
    background-color: mediumseagreen;
}
.coloum13{
    background-color:red;
}
